fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-huggingface
transformers
sentence-transformers
faiss-cpu
pypdf
python-multipart
accelerate
huggingface_hub[hf_xet]
torch
numpy
fastapi
uvicorn
sqlalchemy
passlib
python-multipart
bcrypt